# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# profile image

# /assets/images/profile/cindykzr.jpg
# /assets/images/profile/fauzana1515.jpg
# /assets/images/profile/shella_anandareal.jpg
# /assets/images/profile/kiranafiiaa.jpg
# /assets/images/profile/hani.kdh.jpg
# /assets/images/profile/laila_tul2604.jpg
# /assets/images/profile/luanluan.id.jpg
# /assets/images/profile/meritasfya_.jpg
# /assets/images/profile/panggil.nela.jpg
# /assets/images/profile/refina9574.jpg
# /assets/images/profile/rifaiPP.JPG
/android